body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/* Navbar */

#logoimg{
	width: 8%;
	float: left;
	padding-top: 1%;
}


.topnav {
	background-color: black;
	position: fixed;
	width: 100%;
}

/* Links Style inside the navbar */
.topnav a {
	float: right;
	color: #f2f2f2;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* HEADER CSS */

#container{
	height: auto; 
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)),url(img/background.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#info{
	padding-top: 10%;
	padding-left: 20%;
	padding-bottom: 25%;
	font-size: 35px;
	color: rgb(238, 238, 29);
}

/* Body */

#about{
	padding-bottom: 20px;
}

.profile-img img{
	float: left;
	margin-left: 8%;
	margin-top: 13%;
	width: 10%;
}

header{
	margin: 50px;
}

/* Images */

#micro{
	float: right;
	width: 20%;
	padding-right: 10%;
}

#gdg{
	float: right;
	width: 20%;
	padding-right: 10%;
}

#techimg{
	float: right;
	padding-right: 10%;
}

#eduimg{
	float: right;
	width: 30%;
	padding: 10%;
}

#mediaimg{
	padding: 5%;
	float: right;
	width: 24%;
}

#batteryimg{
	padding-right: 15%;
	float: right;
	width: 10%;
}

li{
	color: blanchedalmond;
}

.row {
	display: flex;
  }
  
.column {
	flex: 30.3%;
}

h2,h3{
	padding-top: 4%;
	color: rgb(238, 238, 29);
}

p{
	color: blanchedalmond;
	font-family: ubuntu;
}

span{
	color: khaki;
}

#contact img{
	margin-top: 20%;
	margin-left: 25%;
	width: 20%;
}

.social .column{
	flex: left;
	margin-left: 5%;
}

.social .row .column p{
	margin-left: 28%;
	font-style: bold;
}

#mail{
	margin-left: 18%;
}
